body::before, body::after {
  content: "";
  position: fixed;
  width: 30rem;
  height: 45rem;
  max-height: 80vh;
  z-index: -1;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  height: 100%;
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  min-height: 100%;
  background-color: #f5f3f7;
}
body::before {
  right: 50%;
  top: -10rem;
  background: linear-gradient(#e942ff -50%, #8838ff);
  border-radius: 0 0 15rem 15rem;
}
@media only screen and (min-width: 1024px) {
  body::before {
    top: 0;
    right: 75%;
  }
}
body::after {
  left: 50%;
  bottom: -18rem;
  background: rgba(237, 229, 244, 0.4);
  border-radius: 15rem 15rem 0 0;
}
@media only screen and (min-width: 1024px) {
  body::after {
    bottom: 0;
    left: 75%;
  }
}

@keyframes phone-appear {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes phone-appear-lg {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes text-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes attribution-show {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes message-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes picture-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes options-show {
  0% {
    opacity: 0;
    transform: translateX(-12rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.show-1 {
  opacity: 0;
  animation: message-show 1s 1 forwards;
  animation-delay: 4s;
}

.show-2 {
  opacity: 0;
  animation: message-show 1s 1 forwards;
  animation-delay: 6.5s;
}

.show-3 {
  opacity: 0;
  animation: picture-show 0.5s 1 forwards;
  animation-delay: 9s;
}

.show-4 {
  opacity: 0;
  animation: picture-show 0.5s 1 forwards;
  animation-delay: 9.5s;
}

.show-5 {
  opacity: 0;
  animation: picture-show 0.5s 1 forwards;
  animation-delay: 10s;
}

.show-6 {
  opacity: 0;
  animation: message-show 1s 1 forwards;
  animation-delay: 11.5s;
}

.show-7 {
  opacity: 0;
  animation: message-show 1s 1 forwards;
  animation-delay: 14s;
}

.show-8 {
  opacity: 0;
  animation: message-show 1s 1 forwards;
  animation-delay: 16.5s;
}

.show-9, .show-10 {
  opacity: 0;
  animation: options-show 0.75s 1 forwards ease-in-out;
  animation-delay: 19s;
}

.phone_ {
  background-color: #f5f3f7;
  width: 17rem;
  height: 34rem;
  border-radius: 2rem;
  animation: phone-appear 1s cubic-bezier(0.3, 0.4, 0.6, 1.2) 1;
}
@media only screen and (min-width: 1024px) {
  .phone_ {
    animation: phone-appear-lg 1.5s cubic-bezier(0.3, 0.4, 0.6, 1.2) 1;
  }
}

header {
  position: relative;
  background: linear-gradient(-90deg, #e942ff, #8838ff);
}
header::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.75rem;
  width: 9rem;
  height: 2.2rem;
  background-color: white;
  border-radius: 1.1rem;
}
header .left-arrow img:hover {
  transform: translateX(-0.125rem);
}
header p.name {
  font-size: 0.65rem;
}
header p.status {
  color: #d89eff;
  font-size: 0.55rem;
}
header details {
  position: relative;
}
header details summary {
  list-style: none;
}
header details summary:focus-visible {
  outline: 0.0625rem dotted white;
}
header details > div {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 1.5rem;
  right: 0.25rem;
  font-size: 0.55rem;
  color: #6e5d7e;
  border: 0.0625rem dashed #3e2753;
}
header details > div a:hover {
  opacity: 1;
}
header details > div a:focus-visible {
  opacity: 1;
  text-decoration: underline;
  outline: none;
}
header details[open] summary ~ * {
  animation: attribution-show 400ms ease-in-out;
}

form [type=text] {
  font-family: inherit;
  font-size: 0.65rem;
  border-radius: 2rem;
  outline: none;
  border: 0.0625rem dashed transparent;
}
form [type=text]:focus {
  border-color: #3e2753;
}
form [type=submit] {
  background-color: #3e2753;
  top: 50%;
  transform: translateY(-50%);
  right: 0.375rem;
  transition: 300ms;
  outline: none;
}
form [type=submit] img {
  transform: translateX(0.05rem);
}
form [type=submit]:hover {
  transform: translate(0.25rem, -50%);
}
form [type=submit]:focus-visible {
  outline: 0.0625rem dashed #3e2753;
}

.text_ {
  opacity: 0;
  animation: text-appear 2s 1 forwards;
  animation-delay: 2s;
}
.text_ h1 {
  color: #3e2753;
}
.text_ p {
  color: #a39daa;
}

.message {
  font-size: 0.5rem;
  line-height: 0.75rem;
  width: 8.5rem;
}
.message.left {
  background-color: #ede5f4;
  color: #9241c8;
}
.message.right {
  background-color: white;
  color: #6e5d7e;
}
.message.short {
  width: auto;
}

.radio-button {
  background: linear-gradient(90deg, #e942ff, #8838ff);
  width: 10rem;
  font-size: 0.5rem;
  color: #f4a6ff;
}
.radio-button label {
  transition: 400ms;
}
.radio-button [type=radio] {
  appearance: none;
  outline: none;
  border: 0.0625rem solid #e570ff;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.radio-button [type=radio]::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fcf0ff;
  transition: 200ms;
  opacity: 0;
  transform: scale(0);
}
.radio-button [type=radio]:hover, .radio-button [type=radio]:focus {
  border-color: #fcf0ff;
}
.radio-button [type=radio]:hover + label, .radio-button [type=radio]:focus + label {
  color: #fcf0ff;
}
.radio-button [type=radio]:checked {
  border-color: #fcf0ff;
}
.radio-button [type=radio]:checked::after {
  opacity: 1;
  transform: scale(1);
}
.radio-button span {
  font-size: 0.65rem;
  color: #fcf0ff;
}