body::before {
  content: "";
  position: absolute;
  width: 32rem;
  height: 46rem;
  z-index: -1;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  height: 100%;
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  height: 100%;
  background-color: #f5f3f7;
  overflow-x: hidden;
}
body::before {
  right: 50%;
  top: -12rem;
  background: linear-gradient(#e942ff -50%, #8838ff);
  border-radius: 0 0 16rem 16rem;
}
@media only screen and (min-width: 1024px) {
  body::before {
    top: 0;
    right: 72%;
  }
}

.phone_ {
  background-color: #f5f3f7;
  width: 17rem;
  height: 34rem;
  border-radius: 2rem;
}

header {
  position: relative;
  background: linear-gradient(-90deg, #e942ff, #8838ff);
}
header::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.75rem;
  width: 9rem;
  height: 2.2rem;
  background-color: white;
  border-radius: 1.1rem;
}
header .left-arrow img:hover {
  transform: translateX(-0.125rem);
}
header .avatar {
  border-radius: 50%;
  box-shadow: 0 0 0 0.0625rem white;
}
header p.name {
  font-size: 0.65rem;
}
header p.status {
  color: #d89eff;
  font-size: 0.55rem;
}
header details {
  position: relative;
}
header details summary {
  list-style: none;
}
header details summary:focus {
  outline: 0.0625rem dotted white;
}
header details > div {
  position: absolute;
  right: 0;
  top: 1.5rem;
  right: 0.25rem;
  font-size: 0.55rem;
  color: #6e5d7e;
  border: 0.0625rem dashed #3e2753;
}
header details > div a:hover {
  opacity: 1;
}
header details > div a:focus {
  opacity: 1;
  text-decoration: underline;
  outline: none;
}
header details[open] summary ~ * {
  animation: show 400ms ease-in-out;
}

form [type=text] {
  font-family: inherit;
  font-size: 0.65rem;
  border-radius: 2rem;
  outline: none;
  border: 0.0625rem dashed transparent;
}
form [type=text]:focus {
  border-color: #3e2753;
}
form [type=submit] {
  background-color: #3e2753;
  top: 50%;
  transform: translateY(-50%);
  right: 0.375rem;
  transition: 300ms;
  outline: none;
}
form [type=submit] img {
  transform: translateX(0.05rem);
}
form [type=submit]:hover {
  transform: translate(0.25rem, -50%);
}
form [type=submit]:focus-visible {
  outline: 0.0625rem dashed #3e2753;
}

.text_ h1 {
  color: #3e2753;
}
.text_ p {
  color: #a39daa;
}

.message {
  font-size: 0.5rem;
  line-height: 0.75rem;
  width: 8.5rem;
}
.message.left {
  background-color: #ede5f4;
  color: #9241c8;
}
.message.right {
  background-color: white;
  color: #6e5d7e;
}
.message.short {
  width: auto;
}

.radio-button {
  background: linear-gradient(90deg, #e942ff, #8838ff);
  width: 10rem;
  font-size: 0.5rem;
  color: #f4a6ff;
}
.radio-button label {
  transition: 400ms;
}
.radio-button [type=radio] {
  appearance: none;
  outline: none;
  border: 0.0625rem solid #e570ff;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.radio-button [type=radio]::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fcf0ff;
  transition: 200ms;
  opacity: 0;
  transform: scale(0);
}
.radio-button [type=radio]:hover, .radio-button [type=radio]:focus {
  border-color: #fcf0ff;
}
.radio-button [type=radio]:hover + label, .radio-button [type=radio]:focus + label {
  color: #fcf0ff;
}
.radio-button [type=radio]:checked {
  border-color: #fcf0ff;
}
.radio-button [type=radio]:checked::after {
  opacity: 1;
  transform: scale(1);
}
.radio-button span {
  font-size: 0.65rem;
  color: #fcf0ff;
}