@use './abstracts' as *;

@keyframes phone-appear {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}

@keyframes phone-appear-lg {
  0% { transform: translateX(-50vw); }
  100% { transform: translateX(0); }
}

@keyframes text-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes attribution-show {
  0%    { opacity: 0; transform: translateY(-1rem); }
  100%  { opacity: 1; transform: translateY(0); }
}

@keyframes message-show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes picture-show {
  0% { opacity: 0; transform: scale(0); }
  80% { transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes options-show {
  0% { opacity: 0; transform: translateX(-12rem); }
  100% { opacity: 1; transform: translateX(0); }
}


// the first 2 messages
@for $n from 1 through 2 {
  .show-#{$n} {
    opacity: 0;
    animation: message-show 1s 1 forwards;
    animation-delay: #{($n - 1) * 2.5 + 4}s;
  }
}

// doggies
@for $n from 3 through 5 {
  .show-#{$n} {
    opacity: 0;
    animation: picture-show 0.5s 1 forwards;
    animation-delay: #{($n - 3) * 0.5 + 9}s;
  }
}

// the next 3 messages
@for $n from 6 through 8 {
  .show-#{$n} {
    opacity: 0;
    animation: message-show 1s 1 forwards;
    animation-delay: #{($n - 6) * 2.5 + 11.5}s;
  }
}

// options
.show-9, .show-10 {
  opacity: 0;
  animation: options-show 0.75s 1 forwards ease-in-out;
  animation-delay: 19s;
}
